# PostgreSQL Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=docu_mind_rag
DB_PORT=5432

# pgAdmin4
PGADMIN_DEFAULT_EMAIL=abnish.kumar4@gmail.com
PGADMIN_DEFAULT_PASSWORD=password@123
PGADMIN_PORT=5555
